@font-face {
    font-family: airport;
    src: url(../font/Airport.ttf);
}
@font-face {
    font-family: any;
    src: url(../font/OKScU8ig.ttf);
}
body{
    margin:0;
    padding:0;
    background: linear-gradient(to right,#FFEFD5,#FFDAB9);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
div{
    box-sizing: border-box;
}
.header{
    display:flex;
}
.header-text{
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transform: rotate(-5deg);
    text-shadow: 1px 1px 1px #FF00FF, 2px 2px 3px #8A2BE2;
    font-family: airport; 
}
.container{
    flex-grow:1;
    display:flex;
}
nav{
    margin:0 30px;
}
nav>ul{
    list-style: none;
    padding:0;
}
nav>ul li{
    display: block;
    font-family: any;
}
footer{
    height: 40px;
}